
/* Share Style */
body{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    padding:20px 25px;
    background: #FF900E;
    border:0;
    color:#fff;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* Header CSS */

header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #131313;
    font-size: 2.6rem;
    font-weight: 700;
}

nav > ul{
    display:flex;
}

nav li{
    list-style: none;
    margin-right:30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color:#424242;
}

/* Banner CSS */

.banner-container{
    max-width: 800px;
    text-align: center;
    margin:0 auto;
}

.banner-title {
    color: #131313;
    font-size: 3.7rem;
    font-weight: 700;
}

.banner-description{
    color:  #727272;
}

.banner img{
    margin-top:20px;
    width:100%;
}

/* Main  */

main{
    max-width:1440px;
    margin:70px auto;
}

/* Teams Section */
.teams-container{
    display:flex;
    /* justify-content: space-around; */
    align-items: center;
}
.teams-img-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
    
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title{
   
    font-size: 2.8rem;
    font-weight: 500;
}
.quick-text{
    color:#727272;
    font-weight: 600;
}
.feature-text{
    color: #FF900E;
    font-weight: 700;
}

.teams-description{
    color:#727272;
    font-size: 14px;
    margin-bottom:30px;
}


/* Fact Section */
.fact-card-container{
    display:flex;
    justify-content: space-around;
    margin-top: 70px;
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:30px;
}

.card-stats{
    color:#424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title{
    color:#727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}









/* Responsive Media Query */
/* Mobile Devices */
@media screen and (max-width:576px){
    header{
        padding:20px;
    }

    nav, .teams-container, .fact-card-container{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content, .fact-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .fact-card-container{
        gap:20px;
    }
}



/* Tablet Devices */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding:50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
}
